pre {
	background-color: #fbfbfb;
}

blockquote {
	padding: 10px 3em;
	margin: 0 0 20px;
	background-color: #fff3f3;
	font-size: 1.1em;
}

table {
	width:100%;
}

.content .post-content img {
	object-fit: scale-down;
	width: 100%;
	height: auto;
    	border-radius: 10px;
}

.post-content {
    max-width:730px;
}

.copyright {
	font-size: 10px
}

#article-title {
	line-height: 45px;
	font-size: 25px;
	letter-spacing: -.3px;
	margin-bottom: 0px;
}

.latest,
.other,
.post-grid {
	display: inline-table
}

.f-m-b:hover,
.float-share-li:hover,
.social-box i:hover {
	transform: scale(1.1)
}

.float-share {
	position: fixed;
	top: 100%;
	left: 10px;
	display: none;
	z-index: 1
}

.float-share-li,
.fs-note {
	text-align: center;
	width: 40px;
	display: block
}

.float-share-li {
	color: #fff!important;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	border-radius: 3px;
	margin-bottom: 10px
}

.fs {
	background: #5c4747
}

.fs-note {
	font-size: 11px;
	letter-spacing: .7px;
	height: 25px;
	line-height: 25px
}

.share-close-modal {
	font-size: 20px;
	border-radius: 100%
}

.fixed-r {
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	top: 30%
}

@media only screen and (min-width :1200px) {
	.float-share {
		display: block
	}
}

@media print {
	@page {
		margin: 2cm
	}
	.below-post,
	.comments,
	.deals,
	.email-outer,
	.float-share,
	.footer,
	.google,
	.header,
	.menu,
	.mobile-share,
	.overlay,
	.right-box,
	.search-box,
	.sharebelow,
	.tags {
		display: none!important
	}
}

.icon-bar {
	display: none
}

@media only screen and (max-width :1199px) {
	.icon-bar {
		display: block
	}
}

.icon-bar a {
	float: left;
	display: block;
	text-align: center;
	padding: 16px;
	transition: all .3s ease;
	color: #fff;
	font-size: 20px;
	width: 25%;
	margin-bottom: 20px
}

.facebook {
	background: #3B5998;
	color: #fff
}

.twitter {
	background: #55ACEE;
	color: #fff
}

.linkedin {
	background: #007bb5;
	color: #fff
}

.reddit {
	background: #b00;
	color: #fff
}

.icon-bar a:hover {
	background-color: #000
}

.content-section .content {
	font-size: 17px
}

#container-b a {
	text-decoration: none;
	color: red
}

#container-b {
	border-bottom: 1px dashed #ffd6d6;
	max-width: 1120px;
	margin: auto;
	padding: 19px 35px;
}

#article-title-b {
	line-height: 45px;
	font-size: 35px;
	letter-spacing: -.3px;
	font-family: Roboto-Bold;
	margin-bottom: 10px;
}

#first-b {
	width: 100%;
	float: none;
	padding-top: 30px;
}

#second-b {
	display: none
}

@media only screen and (min-width :1199px) {
	#first-b {
		width: 67%;
		float: right;
		margin-left: 8%;
		padding-top: 30px
	}
	#second-b {
		display: block;
		width: 25%;
		float: left;
		padding-top: 50px
	}
}

#nav-link {
	background-color: #dc2b2b;
	padding: 10px;
	border-radius: 5px;
	margin-right: 29px;
	font-size: 25px
}

.container .content a {
	text-decoration: none;
	color: #fff
}

.content {
	padding: 50px 35px 19px;
}

#second-b img {
	border-radius: 5px;
}

.block,
.email-input,
.n-menu,
.visuallyhidden {
	overflow: hidden
}

.search-here span[class^=ion],
body {
	position: relative
}

.footer-section h4,
.footer-section h5,
body {
	margin: 0;
	padding: 0
}

@font-face {
	font-family: Roboto;
	src: url(https://cdn.jsdelivr.net/gh/HackHex/CDN/fonts/Roboto.woff2);
	font-display: swap;
}

@font-face {
	font-family: Roboto-Bold;
	src: url(https://cdn.jsdelivr.net/gh/HackHex/CDN/fonts/Roboto-Bold.woff2);
	font-display: swap;
}

li,
ul {
	border: 0;
	font: inherit;
	vertical-align: baseline
}

body,
html {
	font-kerning: normal;
	scroll-behavior: auto;
	overflow-x: hidden;
	font-family: Roboto;
	text-rendering: auto;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px
}

@media only screen and (min-width:850px) {
	body {
		font-size: 18px;
		line-height: 30px
	}
}

body {
	-webkit-tap-highlight-color: transparent;
	-webkit-backface-visibility: hidden;
	background: #fcfcfc;;
	color: #000000;
	line-height: 29px
}

a,
a:active,
a:focus,
a:hover,
a:visited {
	text-decoration: none
}

.content-section a {
	outline: 0;
	text-decoration: none;
	color: red
}

.text-logo a {
	color: #fff
}

.footer a,
.footer a:active,
.footer a:focus,
.footer a:hover,
.footer a:visited {
	text-decoration: none;
	color: #777
}

ul {
	list-style: none
}

.post-content ul,
.drop-menu,
.latestposts,
ol {
	list-style: square
}

*,
::after,
::before {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0
}

.a,
.b {
	font-size: -webkit-xxx-large
}

.menu-here,
.search-here i {
	font-size: 20px
}

@media only screen and (min-width:730px) {
	.header {
		height: auto
	}
}

.header {
	background: #a92323;
	height: 80px;
	width: 100%
}

.logo-area {
	max-width: 1120px;
	margin: 0 auto;
	padding: 25px 35px 0;
	text-align: left
}

.ad,
.n-menu li a,
.search {
	text-align: center
}

.a {
	color: #fff;
	margin: 0
}

.b {
	color: #fff7e0
}

.menu-here {
	margin-left: 30px
}

.ad,
.content,
.footer,
.search,
#comment-box {
	margin: auto;
	max-width: 1120px
}

@media only screen and (max-width:480px) {
	.menu-here {
		display: none
	}
}

.search-here:before {
	content: '';
	background-color: #666;
	border-radius: 50%;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-transform: scale(.001, .001);
	transform: scale(.001, .001)
}

.search-here:focus {
	outline: 0;
	color: #a2a2a2
}

.search-here:focus:before {
	-webkit-animation: effect_dylan .8s ease-out;
	animation: effect_dylan .8s ease-out
}

@-webkit-keyframes effect_dylan {
	50% {
		-webkit-transform: scale(1.5, 1.5);
		transform: scale(1.5, 1.5);
		opacity: 0
	}
	99% {
		-webkit-transform: scale(.001, .001);
		transform: scale(.001, .001);
		opacity: 0
	}
	100% {
		-webkit-transform: scale(.001, .001);
		transform: scale(.001, .001);
		opacity: 1
	}
}

@keyframes effect_dylan {
	50% {
		-webkit-transform: scale(1.5, 1.5);
		transform: scale(1.5, 1.5);
		opacity: 0;
	}
	99% {
		-webkit-transform: scale(.001, .001);
		transform: scale(.001, .001);
		opacity: 0;
	}
	100% {
		-webkit-transform: scale(.001, .001);
		transform: scale(.001, .001);
		opacity: 1;
	}
}

.ad {
	padding: 25px 35px;
}

.search-section {
	background: #fafafa;
	display: none;
}

.content-section,
.footer-section,
.search input {
	background: #fff;
}

.search {
	padding: 19px 35px
}

.search input {
	width: 100%;
	border: 1px solid #ddd;
	outline: 0;
	padding: 10px;
	border-radius: 2px;
	color: #777
}

@media only screen and (max-width:370px) {
	.search-here {
		display: none
	}
}

#comment-box {
	padding: 20px 35px
}

.content,
.footer {
	padding: 1px 35px
}

.section-1,
.section-2,
.section-3 {
	margin-bottom: 15px;
	float: left
}

.block {
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px 0 20px;
	border-bottom: 1px solid #e2e2e2
}

.section-1 {
	width: 50%
}

@media only screen and (min-width:480px) {
	.section-1 {
		width: 33.33%
	}
}

@media only screen and (min-width:730px) {
	.header {
		height: 110px
	}
	.section-1 {
		width: 33.33%
	}
}

@media only screen and (min-width:850px) {
	.section-1 {
		width: 25%;
		display: block
	}
}

.section-2 {
	width: 50%
}

@media only screen and (min-width:480px) {
	.section-2 {
		width: 33.33%
	}
}

@media only screen and (min-width:730px) {
	.section-2 {
		width: 33.33%
	}
}

@media only screen and (min-width:850px) {
	.section-2 {
		width: 25%;
		display: block
	}
}

.section-3 {
	width: 25%;
	display: none
}

@media only screen and (min-width:480px) {
	.section-3 {
		width: 33.33%;
		display: block
	}
}

@media only screen and (min-width:730px) {
	.section-3 {
		display: none
	}
}

@media only screen and (min-width:850px) {
	.section-3 {
		width: 25%;
		display: block
	}
}

.section-4 {
	float: left;
	width: 100%
}

@media only screen and (min-width:730px) {
	.section-4 {
		width: 33.33%
	}
}

@media only screen and (min-width:850px) {
	.section-4 {
		width: 25%;
		display: block
	}
}

.footer-section h5 {
	font-size: 16px;
	color: #212121;
	margin-bottom: 5px;
	display: inline-block
}

.footer-section h4,
.footer-section h5 {
	font-weight: 600;
	border-bottom: 3px solid red
}

.section li a {
	font-size: 14.4px;
	color: #777
}

.copyrights {
	padding-top: 10px;
	font-size: 12px
}

.top-bar {
	background: #9a2323;
	display: none
}

@media only screen and (min-width:730px) {
	.top-bar {
		display: block
	}
}

.top-bar-box {
	font-size: 14px;
	max-width: 1120px;
	margin: auto;
	padding: 0 35px;
	color: #fff
}

.icons {
	float: right
}

.spacer {
	margin-left: 30px
}

.top-bar a {
	text-decoration: none;
	color: #fff
}

#container a {
	text-decoration: none;
	color: red
}

#container {
	max-width: 1120px;
	margin: auto;
	padding: 0px 35px 50px
}

@media only screen and (max-width:795px) {
	#container {
		padding: 0 35px 50px
	}
}

#first {
	width: 100%;
	float: none;
	padding-top: 30px
}

#second {
	display: none
}

@media only screen and (min-width :1199px) {
	#first {
		width: 40%;
		float: left;
		padding-top: 0px;
		margin-right: 5%
	}
	#second {
		display: block;
		width: 55%;
		float: left;
		padding-top: 40px
	}
}

#second img {
	object-fit: cover;
	width: 100%;
	border-radius: 5px
}

#clear {
	clear: both
}

#info-box {
	font-size: 17px
}

.deals {
	display: inline-table
}

.related-post-title {
	margin: 20px 0;
	border-bottom: 4px solid red;
	font-size: 23px;
	padding: 0 0 2px;
	font-weight: 900;
	display: inline-block;
	font-family: Roboto-Bold
}

.post-box {
	width: 40%;
	float: left;
	margin-right: 10%;
	margin-bottom: 15px
}

@media only screen and (min-width:850px) {
	.post-box {
		width: 23.5%;
		float: left;
		margin-bottom: 30px
	}
}

.post-box img {
	width: 100%;
	max-width: 100%;
	border-radius: 3px;
	height: 129px
}

.post-box a,
.post-box a:active,
.post-box a:focus,
.post-box a:hover,
.post-box a:visited {
	text-decoration: none;
	color: #000
}

.post-box h3 {
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	padding: 10px 0 5px;
	color: #212121;
	font-family: Roboto-Bold;
	margin: 0 0 5px
}

@media only screen and (min-width:850px) {
	.post-box h3 {
		font-size: 16px;
		line-height: 23px
	}
	.post-box,
	.post-box:nth-child(n+0) {
		margin-inline-end: 2%
	}
	.post-box,
	.post-box:nth-child(4n+0) {
		margin-inline-end: 0
	}
}

.post-box-desc {
	display: none;
	color: #777;
	line-height: 21px;
	padding: 0;
	font-size: 14.4px
}

@media only screen and (min-width:850px) {
	.post-box-desc {
		display: block
	}
}

.footer li,
.footer ul {
	margin: 0;
	padding: 0
}

.email-outer {
	background: #a92323;
	border: 10px solid #9a2323
}

.email-box {
	padding: 0 25px 30px;
	box-shadow: none;
	border-radius: 0;
	max-width: 1120px;
	margin: 0 auto
}

.email-box form {
	width: 100%;
	max-width: 500px;
	margin: 0 auto
}

.email-box h3 {
	font-size: 35px;
    	font-weight: 900;
    	color: #fff;
	text-align: center;
}

.email-box p {
	color: #fff;
  	line-height: 24px;
   	margin: -15px 0 20px;
	text-align: center;
}

.email-input {
	position: relative;
	height: 50px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #fff
}

.e-book {
	display: none
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px
}

.email-input input {
	width: 100%;
	height: 100%;
	display: block;
	padding: 0 70px 0 20px;
	color: #777;
	font-size: 17px;
	outline: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: none
}

.email-input button {
	-webkit-appearance: button;
	width: 60px;
	height: 40px;
	top: 5px;
	right: 5px;
	position: absolute;
	background-color: #e50000;
	-webkit-transition: background-color .3s ease;
	-o-transition: background-color .3s ease;
	-moz-transition: background-color .3s ease;
	transition: background-color .3s ease;
	will-change: background-color;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAQCAQAAABuQZ3IAAAAiUlEQVQYlVXQsQpBARQG4CMlSXkBo+1mUBbZ5NkMRmWVVUYZKGWSt5CSwWS5yfQZz9XZvuE//zmh76gjcsIZV+0qdd1w0koKPQ/sNZJC4YWtelIYeGOtlhRGSizVKstNfDCv0tQXs4SxEovMGnpjlfF9L2yyRM8Tu6zadcdJ8//sS14oQuHw/5wfVJy3keRVhzoAAAAASUVORK5CYII=);
	background-repeat: no-repeat;
	background-position: 52% center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	outline: 0;
	padding: 0;
	display: block;
	cursor: pointer
}

.fa-calendar-alt,
.fa-user {
	margin-right: 7px
}

.fa-user {
	margin-left: 20px
}

.item-label {
	color: #717171;
	margin-bottom: 10px;
}

@media only screen and (max-width :480px) {
	.item-label {
		font-size:14px;
	}
}

#navigation {
	background-color: #fff;
	border-bottom: 5px solid rgba(0, 0, 0, .08)
}

@media only screen and (max-width:795px) {
	#navigation {
		display: none
	}
}

.n-menu {
	max-width: 1120px;
	list-style-type: none;
	margin: 0 auto;
	padding: 0 20px
}

.n-menu li {
	float: left;
	margin-right: 20px
}

.n-menu li a {
	display: block;
	color: #212121;
	padding: 10px 15px 6px;
	border-bottom: 4px solid #fff;
	text-decoration: none;
	transition: all .2s ease-in
}

.n-menu li a:hover {
	border-bottom: 4px solid red
}

.menu-here,
.search-here {
	color: #666;
	cursor: pointer;
	float: right;
	padding: 10px 15px 5px;
	transition: all .4s ease-in;
	position: relative
}

.sub-button {
	color: #e2e2e2!important;
	float: right;
	display: none;
	margin: -5px 0 0;
	background: #a20000;
	padding: 0 12px;
	border-radius: 3px;
	height: 40px;
	line-height: 40px
}

.sub-style {
	font-size: 17px
}

@media only screen and (min-width:730px) {
	.sub-button {
		display: block
	}
}

.article-form input,
.article-form textarea {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}

.right-box {
    display: none;
}

@media only screen and (min-width: 1120px) {
.right-box {
    width: 300px;
    float: right;
    padding: 0 0 0 20px;
}
}

@media only screen and (min-width: 850px) {
.right-box {
    display: none;
}
}

@media only screen and (min-width: 1120px) {
.right-box {
    display: block;
}
}

.sidebar-title {
    margin: 0 0 10px 0;
    border-bottom: 4px solid red;
    font-size: 23px;
    padding: 0 0 2px;
    font-weight: 900;
    display: block;
    font-family: Roboto-Bold;
}

.popular-widget {
    padding-top:15px;
}

.small-thumb {
    overflow: hidden;
    float:left;
}

.small-thumb img {
    width: 72px;
    height: 72px;
    border-radius: 3px;
}

.pop-title {
    color: #444;
}

.popular-desc {
    padding-left: 16px;
    overflow: hidden;
    line-height: 25px;
    font-weight: 600;
    font-size: 15px;
    margin-top: -5px;
}

.pop-article {
    margin-bottom: 20px;
}
